Task-2 
Movie Rating prediction using Python

import necessary libraries

In [93]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Read the IMDB movie dataset

In [94]:
imdbdataset = pd.read_csv(r'C:\Users\RGUKT\Documents\CODSOFT\data science task 2\IMDbMoviesIndia.csv', encoding = 'latin1')

In [95]:
imdbdataset

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

Check Rows and columns of the dataset

In [96]:
imdbdataset.shape[0]

15509

In [97]:
imdbdataset.shape[1]

10

imfo of the dataset

In [98]:
imdbdataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

check the missing values

In [99]:
imdbdataset.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

Drop the missing values

In [100]:
imdbdataset=imdbdataset.dropna(axis=0)

In [101]:
imdbdataset

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
5,...Aur Pyaar Ho Gaya,(1997),147 min,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
6,...Yahaan,(2005),142 min,"Drama, Romance, War",7.4,"1,086",Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma
8,?: A Question Mark,(2012),82 min,"Horror, Mystery, Thriller",5.6,326,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia
...,...,...,...,...,...,...,...,...,...,...
15493,Zubaan,(2015),115 min,Drama,6.1,408,Mozez Singh,Vicky Kaushal,Sarah Jane Dias,Raaghavv Chanana
15494,Zubeidaa,(2001),153 min,"Biography, Drama, History",6.2,"1,496",Shyam Benegal,Karisma Kapoor,Rekha,Manoj Bajpayee
15503,Zulm Ki Zanjeer,(1989),125 min,"Action, Crime, Drama",5.8,44,S.P. Muthuraman,Chiranjeevi,Jayamalini,Rajinikanth
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

Check for duplicate data

In [102]:
dup_imdbdataset=imdbdataset.duplicated().any()

In [103]:
print('any duplicate data: ',dup_imdbdataset)

any duplicate data:  False

statistics of dataset

In [104]:
imdbdataset.describe(include='all')

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
count,5659,5659,5659,5659,5659.000000,5659,5659,5659,5659,5659
unique,5385,91,174,376,NaN,2027,2431,1960,2321,2556
top,Baazi,(2019),120 min,Drama,NaN,7,David Dhawan,Amitabh Bachchan,Rekha,Pran
freq,4,227,169,844,NaN,90,41,104,52,57
mean,NaN,NaN,NaN,NaN,5.898533,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,1.381165,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.100000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,6.100000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,6.900000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN

replacing the brackets from year column

In [105]:
imdbdataset['Year'] = imdbdataset['Year'].str.replace(r'[()]', '', regex=True).astype(int)

C:\Users\RGUKT\AppData\Local\Temp\ipykernel_6132\1023117693.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdbdataset['Year'] = imdbdataset['Year'].str.replace(r'[()]', '', regex=True).astype(int)

Remove the min word from 'Duration' column

In [106]:
imdbdataset['Duration'] = pd.to_numeric(imdbdataset['Duration'].str.replace('min', ''))

C:\Users\RGUKT\AppData\Local\Temp\ipykernel_6132\2803055615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdbdataset['Duration'] = pd.to_numeric(imdbdataset['Duration'].str.replace('min', ''))

only keep the unique genres and replace the null values with mode

In [107]:
imdbdataset['Genre'] = imdbdataset['Genre'].str.split(', ')
imdbdataset = imdbdataset.explode('Genre')
imdbdataset['Genre'].fillna(imdbdataset['Genre'].mode()[0], inplace = True)

C:\Users\RGUKT\AppData\Local\Temp\ipykernel_6132\2151016733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdbdataset['Genre'] = imdbdataset['Genre'].str.split(', ')
C:\Users\RGUKT\AppData\Local\Temp\ipykernel_6132\2151016733.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  imdbdataset['Genre'].fillna(imdbdataset['Genre'].mode()[0], inplace = True)

convert votes to numeric and remove comma

In [108]:
imdbdataset['Votes'] = pd.to_numeric(imdbdataset['Votes'].str.replace(',', ''))

calculate the average rating by year and genre

In [109]:
avg_rating_by_year = imdbdataset.groupby(['Year', 'Genre'])['Rating'].mean().reset_index()
avg_rating_by_year

      Year     Genre    Rating
0     1931     Drama  5.750000
1     1931   Fantasy  6.200000
2     1932   Musical  6.000000
3     1932   Romance  6.000000
4     1933     Drama  6.200000
...    ...       ...       ...
1077  2021   Mystery  5.500000
1078  2021   Romance  6.336364
1079  2021    Sci-Fi  9.300000
1080  2021     Sport  5.400000
1081  2021  Thriller  5.354545

[1082 rows x 3 columns]

get the top ten genres

In [110]:
top_genres = imdbdataset['Genre'].value_counts().head(10).index
top_genres

Index(['Drama', 'Action', 'Romance', 'Comedy', 'Crime', 'Thriller', 'Family',
       'Musical', 'Mystery', 'Adventure'],
      dtype='object', name='Genre')

filter the data to include only the top three genres

In [111]:
average = avg_rating_by_year[avg_rating_by_year['Genre'].isin(top_genres)]
average

      Year     Genre    Rating
0     1931     Drama  5.750000
2     1932   Musical  6.000000
3     1932   Romance  6.000000
4     1933     Drama  6.200000
5     1933   Romance  6.200000
...    ...       ...       ...
1071  2021    Family  7.375000
1076  2021   Musical  4.100000
1077  2021   Mystery  5.500000
1078  2021   Romance  6.336364
1081  2021  Thriller  5.354545

[752 rows x 3 columns]

drop the name column

In [112]:
imdbdataset.drop('Name', axis=1, inplace= True)

group the columns with average rating and create new feature

In [113]:
genre_mean_rating = imdbdataset.groupby('Genre')['Rating'].transform('mean')
imdbdataset['Genre_mean_rating'] = genre_mean_rating

director_mean_rating = imdbdataset.groupby('Director')['Rating'].transform('mean')
imdbdataset['Director_encoded'] = director_mean_rating

actor1_mean_rating = imdbdataset.groupby('Actor 1')['Rating'].transform('mean')
imdbdataset['Actor1_encoded'] = actor1_mean_rating

actor2_mean_rating = imdbdataset.groupby('Actor 2')['Rating'].transform('mean')
imdbdataset['Actor2_encoded'] = actor2_mean_rating

actor3_mean_rating = imdbdataset.groupby('Actor 3')['Rating'].transform('mean')
imdbdataset['Actor3_encoded'] = actor3_mean_rating

create predict and target variables

In [114]:
X = imdbdataset[['Year', 'Votes', 'Duration', 'Genre_mean_rating', 'Director_encoded', 'Actor1_encoded', 'Actor2_encoded', 'Actor3_encoded',]]
Y = imdbdataset['Rating']

split the data into training and testing parts

In [115]:
from sklearn.model_selection import train_test_split, cross_val_score

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

Train a LinearRegression model

In [116]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, Y_train)
model_pred = model.predict(X_test)

Evaluate the model

In [117]:
from sklearn.metrics import accuracy_score, mean_absolute_error, mean_squared_error, r2_score

print('Mean Square error: ',mean_squared_error(Y_test, model_pred))
print('Mean absolute error: ',mean_absolute_error(Y_test, model_pred))
print('R2 score: ',r2_score(Y_test, model_pred))

Mean Square error:  0.4465441653985704
Mean absolute error:  0.4921902540765641
R2 score:  0.7641133663863862

Model Testing
create a new dataframe with values close to the any of our existing data to evaluate

In [118]:
data = {'Year': [2019], 'Votes': [36], 'Duration':[111], 'Genre_mean_rating':[5.8], 'Director_encoded':[4.5], 'Actor1_encoded':[5.3], 'Actor2_encoded':[4.5], 'Actor3_encoded':[4.5]}
trail = pd.DataFrame(data)

predict the movie rating by entered data and display the predicted result from the model

In [119]:
predicted_rating = model.predict(trail)

print('predicted rating:', predicted_rating[0])

predicted rating: 4.2074589621343295

In [120]:
Y.head(5)

1    7.0
3    4.4
3    4.4
5    4.7
5    4.7
Name: Rating, dtype: float64